<form class = "user-info-form" action = "/add-user-group" method = "post">
    <b>Nome</b>

    <select name = "user">
        {% for user in users %}
            <option value="{{ user }}">{{ user }}</option>
        {% endfor %}
    </select>

    <!-- Result message -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <span class = "user-info-form-notification">{{ messages[0] }}</span>
        {% endif %}
    {% endwith %}

    <button type = "submit"><b>Adicionar Jogador</b></button>
</form>