<div class = "main-report-table">
    <table>
        <thead>
            <p><h2>Os meus grupos</h2></p>
        </thead>
        <tr>
            <td style = "width: 100px;"><b>GRUPO</b></td>
            <td style = "width: 100px;"><b>PERFIL</b></td>
            <td style = "width: 100px;"><b>DATA DE CRIAÇÃO</b></td>
            <td style = "width: 100px;"><b>Nº DE MEMBROS</b></td>
            <td style = "width: 100px;"><b>OPÇÕES</b></td>
        </tr>
        {% for group in groups %}
            <tr>
                <td><a href = "/groups/{{ group.id }}">{{ group.name }}</a></td>
                {% if group.isAdmin == True %}
                    <td>Administrador</td>
                {% else %}
                    <td>Membro</td>
                {% endif %}
                <td>{{ group.createdAt }}</td>
                <td>20</td>
                <td>
                    <a href = "/groups/{{ group.id }}?update">Editar</a>
                    <a href = "/groups/delete/{{ group.id }}">Apagar</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>